.addressForm {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 1px #ddd solid;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12), 0px 2px 6px rgba(0, 0, 0, 0.24);
}

.addAddress {
  margin-left: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12), 0px 2px 6px rgba(0, 0, 0, 0.24);
  color: #2874f0;
  font-weight: 500;
  font-size: 15px;
  padding: 16px;
}
